.maindiv{
    background-color: #f8fafb;
}
.navbr{
    width: 960;
    height: 50;
}
.main{
   margin-left: 10px;
}
.logo {
    margin-left: 32px;
    margin-top: 15px;
}
.hrone{
    height:2px;
}
.hrtwo{
    height:2px;
    background-color:#b9dafb;
    margin-left: -6px;
}
.photo {
  width: 26px;
  height: 26px;
  margin-top: 12px;
  margin-left: 530px;
  border-radius: 25px;
  opacity: 1;
}
.centre{
    min-width: 120px;
}
.Andri{
  
    padding-top: 21px;
    padding-bottom: 20px;
    margin-left: 10px;
    color: #85909b;
  
}
.navicon{
    margin-top: 14px;
    margin-left: 4px;
    margin-right: 27px;
}


.left {
  margin-top: 40px;
  margin-top: 70px;
  width: 326px;
  height: 382px;
  margin-left: -2%;
}
.second-colum{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.middle {
  margin-top: 44px;
  text-align: center;
  font-size: 30px;
  color: #182c40;
  font-weight: 300;
  font-family: "Heebo";
  width: 100% 
}
.secndmiddle{
    font-family: "Heebo-Regular";
    font-size: 14px;
    color: #626f7d;
}
p{
    font-family: "Heebo-Regular";
    text-align: center;   
    margin-block-end: 0 !important;
    margin-block-start: 0;
}
.txt {
  width: 260px;
  height: 34px;
  opacity: 1;
  font-family: "heebo-light";
  font-size: 60px;
  text-align: left;
  top: 94px;
  width: 229px;
  height: 25px;
  color: #7a8591;
}

.right {
  margin: auto;
  margin-top: 88px;
  width: 262px;
  height: 295px; 
  margin-right: 4px;
  margin-left: -8px;
}
.box{
   
    border: .5px solid black;
    margin: auto;
    margin-top:20px;
}
.botm{
    margin:auto;
    margin-bottom: 14px;
    width: 306px;
    height: 180px;
    text-align: center;
    margin-top: 18px;
    border: 2px solid #e4efff;
    background-color: white;
    border-style: dashed;
    border-radius: 4px;
}
.complete{
    margin-left: 33%;
    border-radius: 3px;
    background-color:#3e89fa;
    margin-bottom: 117px;
    width: 90px;
    height: 25px;
    opacity: 1;
    border: none;
    padding-bottom: 26px;
   
}
.textbtn{
    font-size: 14px;
    color: white;
    text-align: center;
    /* font-family: "heebo-regular"; */
}
span{
    margin-left: 3px;
}
.info{
  
    margin-left: 25px;
    margin-top: 25px;
    color: #d3d7df;
    margin-right: 34px;

}
.inbox{
    margin-top: 31px;
    width: 36px;
    height: 24px;
}
.head{
    margin-top: 10px !important;
    height: 13px;
    font-size: 18px;
    opacity: 1;
    font-family: "heebo-regular";
}
.abc{
    margin-top: 11px;
    font-size: 18px;
    font-family: "heebo-regular";
    height: 5px; 
    text-align: center;
}

.cde{
  
    margin-bottom: 41px;
    font-family: "heebo-regular";
    font-size: 14px;
    margin-top: 19px;
  
}
.efg{
    color: #b9dafb;
    font-family: "heebo-regular";
    font-size: 15px;
    /* margin-right: 10px; */
    margin-left: 5px;
}
.zab{
    font-family: "heebo-regular";
    font-size: 15px; 
    margin-left: 5px;
  
}
.icn{
    margin-left: 5px;
    width: 12px;
    height: 12px;
}
.icn1{
    margin-left: 5px;
    width: 12px;
    height: 12px;
    color: #aecefd;
}
.upload{
    color: #aecefd;
}
.profile{
        width: 62px;
        height: 77px;
        margin-left: 61px;
        margin-top: 20px;
}
.cursr1{
   cursor: pointer;
}
.cursr1{
   cursor: pointer;
}